# templates/clusterissuer.yaml.j2
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ cert.step_ca_namespace }}-issuer
spec:
  acme:
    server: https://step-ca-step-certificates.{{ cert.step_ca_namespace }}.svc.cluster.local/acme/acme/directory
    email: {{ cert.email_address }}
    privateKeySecretRef:
      name: {{ cert.step_ca_namespace }}-issuer-key
    caBundle: "{{ ca_bundle }}"
    solvers:
    - http01:
        ingress:
          class: traefik