# templates/smallstep-values.yaml.j2
---
image:
  repository: smallstep/step-ca
  tag: latest
service:
  type: ClusterIP
  port: 443
  targetPort: 9000
ca:
  name: "{{ cert.ca_name }}"
  password: "{{ cert.password }}"
  authority:
    provisioners:
      type: "ACME"
      name: "acme"
      forceCN: true
  db:
    enabled: true
    persistent: true
    storageClass: "local-path"
    size: 1Gi
bootstrap:
  enabled: true
  secrets: true
inject:
  enabled: false
  config:
    files:
      ca.json:
        address: ":9000"
        dnsNames:
          - "{{ cert.step_ca_service_name }}.{{ cert.step_ca_namespace }}.svc.cluster.local"
          - "ca.{{ cert.step_ca_namespace }}.svc.cluster.local"
          - "ca.{{ common.clustername }}.local"
          - "127.0.0.1"
        db:
          type: "badgerv2"
          dataSource: "/home/step/db"
        tls:
          cipherSuites:
            - "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305"
            - "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
          minVersion: 1.2
          maxVersion: 1.3
          renegotiation: false
        logger:
          format: "json"
  secrets:
    ca_password: "{{ cert.password | b64encode }}"
    x509:
      enabled: false
    ssh:
      enabled: false
    certificate_issuer:
      enabled: false